.section-padding {
  padding: 60px 0px;
}
.contact-us-header {
  margin-bottom: 20px;
}
.contact-us {
  border: 1px solid #aaabaf;
  padding-top: 25px;
  padding-left: 24px;
  border-radius: 8px;
}
.contact-us li {
  list-style: none;
  /*border-bottom: 1px solid #aaabaf;*/
  margin-bottom: 20px;
}
.contact-us li i {
  margin-right: 20px;
  margin-bottom: 20px;
  /*color:black;*/
  color: #b1adad;

  font-size: 18px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.contact-header {
  margin-bottom: 20px;
}
.text-capitalize {
  text-transform: capitalize;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  height: 50px ;
  color: black;
  background-image: none ;
  border-radius: 8px ;
  border: 1px solid #aaabaf ;
  line-height: 33px;
}
textarea.form-control {
  height: auto;
}
/*.confirm {
  background: darkmagenta;

}*/
.text-center {
  text-align: center;
}
button.submit {
  color: #fff;
  background-color: #9bd044;
  border-color: transparent;
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 5px;
}
/*.confirm.text-center {
    border-radius: 8px;
}*/











