<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <title>Home-Teeplus</title>
    <link rel="shortcut icon" type="image/png" href="https://teeplusmessage.com/assets/images/teeplusfavicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="book tickets,bus,train,holidays packages,insurance etc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- animate css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main-page.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css'%}">

<!--    <link rel="stylesheet" type="text/css" href="https://teeplusmessage.com/assets/css/profile_style.css">-->
    <!-- Custom styles for this template -->
    <!-- <link href="https://teeplusmessage.com/assets/css/style.css" rel="stylesheet"> -->
    <!-- <link href="https://teeplusmessage.com/assets/css/style8.css" rel="stylesheet"> -->
    <link href="{% static 'css/style2.css'%}" rel="stylesheet">
    <link href="{% static 'css/login.css'%}" rel="stylesheet">
    <link href="{% static 'css/style1.css'%}" rel="stylesheet">
    <link href="{% static 'css/forget.css'%}" rel="stylesheet">
    <link href="{% static 'css/reset.css'%}" rel="stylesheet">
    <link href="{% static 'css/contactus.css'%}" rel="stylesheet">
    <link href="{% static 'css/contact.css'%}" rel="stylesheet">
    <link href="{% static 'css/cart.css'%}" rel="stylesheet">
    <link href="{% static 'css/checkout.css'%}" rel="stylesheet">
    <link href="{% static 'css/bumper.css'%}" rel="stylesheet">
    <link href="{% static 'css/modalpopup.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="{% static 'css/cancel_style.css'%}" rel="stylesheet">
    <link href="{% static 'css/success_style.css'%}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
   <div class="mainENV topGradient">
        <!-- header -->

<!-- //echo $i;exit;





  else { $cart_data1 = $this->cart->contents();}



              $i =0;

        ?> -->


<!--  <a href="wishlist">wishlist(0)</a>-->


<!-- <a href="wishlist">wishlist()</a> -->


<!-- </div> -->

<!-- Header ends -->

<!-- <div class="helpButton">

                                <a href="https://www.teeplusmessage.com/contact_us"">

                                    <span class="text">

                                      Contact

                                  </span>

                              </a> -->

<!-- <a href="https://www.teeplusmessage.com/cart">cart</a> -->

<!--  <div class="sh-help-contact-popup-window toggleMenu contactFaq new"> -->

<!-- <style>



                            </style> -->

<!--  <div class="sh-text"><strong>Do you have a question, or need some help?</strong></div>

                            <div class="sh-text">We are happy to help you!</div>

                            <a class="sh-btn sh-btn-100 sh-btn-blue dialog" href="https://www.teeplusmessage.com/contact_us">Contact us!</a>

                            <hr> -->

<!-- <div class="sh-text"><strong>Most of your questions are answered in our <a href="faq-and-help/index.html">FAQ</a>!</strong></div>

                            <ul>

                                <li><a href="faq-and-help/delivery/index.html" class="sh-text-link delivery">Delivery</a></li>

                                <li><a href="faq-and-help/ordering_process/index.html" class="sh-text-link order">Ordering Process</a></li>

                                <li><a href="faq-and-help/design-and-printing/index.html" class="sh-text-link printing fa fa-heart"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;Design & Printing</a></li>

                                <li>

                                    <a href="faq-and-help/returning-products/index.html" class="sh-text-link reclamation"><img src="assets/images/download.svg" style="width: 15%;"> Returning</a>

                                </li>

                            </ul> -->

<!--  </div>

                    </div> -->

<section class="teehe">
  <div class="container">
    <div class="row" id="startimg">
      <div class="col-md-6 col-xs-12">
        <div class="teeme">
          <ul class="teeinfo">

            <li><a class="bulk" href="mailto:teeplusmessage@gmail.com"><i class="fa fa-envelope"></i> teeplusmessage@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="teerightmenu">
          <ul class="info_site">
                        <li class="dropdown"> <a href="" class=" dropdown-toggle" id="login" data-toggle="dropdown">My Account</a>

              <!-- <div class="loginBox"> -->

              <ul class="dropdown-menu ">
                <form method="post" action="https://www.teeplusmessage.com/login">
                  <label class="notLast"> <span>E-Mail *</span>
                    <input type="text" name="email">
                  </label>
                  <br>
                  <label> <span>Password  *</span>
                    <input type="password" name="password">
                  </label>
                  <button class="button" name="login" id="login">Log In</button>
                </form>
                <a class="lockIcon" id="passrenew" href="https://www.teeplusmessage.com/forget"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Forgot password</a>

                <!-- <div class="mandatoryFieldsInfo">* Required fields</div> -->

                <label class="newUser"> <span>Register now: </span> <a class="button" id="register" href="https://www.teeplusmessage.com/register">New Customer</a> </label>
              </ul>
            </li>
                        <li><a class="accu" href="https://www.teeplusmessage.com/contact_us">&nbsp;&nbsp;Contact</a></li>
                        <a href="https://www.teeplusmessage.com/wishlist">Wishlist(0)</a>
                                    <li><span><i class="fa fa-shopping-cart" id="fa_cart" aria-hidden="true"></i><a href="https://www.teeplusmessage.com/cart" class="head-cart">Cart(0)</a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tee-nav" id="myHeader2">
  <div class="container-fluid tee_sticky">
    <nav class="navbar">
      <section class="teelog" style="background-color: white;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"> <a href="https://www.teeplusmessage.com/"><img class="teeimg" title="Tee Plus Message" src="https://www.teeplusmessage.com/assets/images/Teeplusmessage-new (3) logo.png" style="height: 90px;" alt="cool tshirt designs"></a> </div>
            <div class="col-md-4 col-sm-4 col-xs-12">

              <!--  <span style="    margin-top: 32px;

    float: right;"><i class="fa fa-shopping-cart" id="fa_cart" aria-hidden="true"></i>

                           <a href="https://www.teeplusmessage.com/cart" class="cart_serach">cart(0)</a></span> -->

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 search_input">
              <form action="https://www.teeplusmessage.com/products/products_search" method="get">
                <input type="text" placeholder="Enter Keyword(s)" name="search" value="" required="">
                <div class="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="menu_sec_2">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="main_menu">
                <div class="navbar-header ">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                  <!-- <a  href="https://www.teeplusmessage.com/"><img class="nav-img" src="https://www.teeplusmessage.com/assets/image/wish1.png"></a> -->

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="top-level-menu">
                    <li><a href="https://www.teeplusmessage.com/">HOME</a></li>
                    <li><a href="https://www.teeplusmessage.com/aboutus">ABOUT US</a></li>
                    <li> <a href="#">MEN</a>
                      <ul class="second-level-menu">
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt">T-shirts</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/hoodie">Hoodies</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew">Long Sleeve T-Shirts</a></li>
                        <li><a href="#">Funny</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Funny">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Funny">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Funny">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Love</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Love">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Love">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Love">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Inspiration </a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Inspiration">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Inspiration">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Inspiration">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Leadership</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Leadership">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Leadership">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Leadership">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Motivation</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Motivation">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Motivation">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Motivation">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Patriotism</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Patriotism">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Patriotism">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Patriotism">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Positivity</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Positivity">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Positivity">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Positivit">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Religion</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Religion">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Religion">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Religion">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Others</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Others">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Others">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Long_Sleeve_Fitted_Crew-_Others">Long Sleeve T-Shirts</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">WOMEN</a>
                      <ul class="second-level-menu">
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt">T-shirts</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Positivity">Hoodies</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top">Full Crop T-Shirts</a></li>
                        <li><a href="#">Funny</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Funny">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Funny">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Funny">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Love</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Love">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Love">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Love">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Inspiration </a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Inspiration">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Inspiration">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Inspiration">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Leadership</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Leadership">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Leadership">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Leadership">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Motivation</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Motivation">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Motivation">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Motivation">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Patriotism</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Patriotism">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Patriotism">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Patriotism">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Positivity</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Positivity">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Positivity">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Positivit">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Religion</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Religion">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Religion">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Religion">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Others</a>
                          <ul class="third-level-menu">
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_T-Shirt-_Others">T-shirts</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Unisex_hoodie-_Others">Hoodies</a></li>
                            <li><a href="https://www.teeplusmessage.com/products/get_products_category/Crop_Top-_Others">Full Crop T-Shirts</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">KIDS &amp; BABIES</a>
                      <ul class="second-level-menu">
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt">T-Shirts</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Funny">Funny</a>

                          <!-- <ul class="third-level-menu">

                                        <li><a href="#">T-shirts</a></li>

                                    </ul> -->

                        </li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-_Love">Love</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-_Inspiration">Inspiration </a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Leadership">Leadership</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Motivation">Motivation</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Patriotism">Patriotism</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Positivity">Positivity</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Religion">Religion</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/kids_t-shirt-Other">Others</a></li>
                      </ul>
                    </li>
                    <li><a href="#">ACCESSORIES</a>
                      <ul class="second-level-menu">
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Mug">Mugs</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Framed_photo_paper_poster">Photo Frames</a></li>
                        <li><a href="https://www.teeplusmessage.com/products/get_products_category/Tote_bag">Tote Bags</a></li>

                        <!--<li><a href="products/get_products">Hats</a></li>-->

                        <li><a href="https://www.teeplusmessage.com/home/comming">Hats</a></li>
                        <li><a href="https://www.teeplusmessage.com/home/comming">Bumper Stickers</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </nav>
  </div>
</section>
<script>

window.onscroll = function() {myFunction()};




var header2 = document.getElementById("myHeader2");

var sticky = 34;



function myFunction() {

  if (window.pageYOffset > sticky) {


	header2.classList.add("sticky2");

  } else {


	header2.classList.remove("sticky2");

  }

}

</script>

<style>



.teeplus-quotes h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

</style>



        <!-- content -->

<!-- <style>
ul > li{
	margin-right:25px;
	font-weight:lighter;
	cursor:pointer
}
li.active{
	border-bottom:3px solid silver;
}

.item-photo{
	display:flex;justify-content:center;
	align-items:center;
	border-right:1px solid #f6f6f6;
}
.menu-items{
	list-style-type:none;
	font-size:11px;
	display:inline-flex;
	margin-bottom:0;
	margin-top:20px
}

.section{
	width:100%;
	margin-left:-15px;
	padding:2px;
	padding-left:15px;
	padding-right:15px;
	background:#f8f9f9
}
.title-price{
	margin-top:30px;
	margin-bottom:0;
	color:black;
}
.title-attr{
	margin-top:0;
	margin-bottom:0;
	color:black;
}
.btn-minus {
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 10px;

    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}
.btn-plus{
	cursor:pointer;
	font-size:7px;
	display:flex;
	align-items:center;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid gray;
	border-radius:2px;
	border-left:0;
}
div.section > div {
	width:100%;
	display:inline-flex;
}
div.section > div > input {
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
    padding-right: 5px;
    max-width: 8%;
    text-align: center;
}
.attr,.attr2{
	cursor:pointer;
	margin-right:5px;
	height:20px;
	font-size:10px;
	padding:2px;
	border:1px solid gray;
	border-radius:2px;
}
.attr.active,.attr2.active{
 border:1px solid orange;
}
.size_chart li {
    list-style: none;
    padding: 3px 10px 3px 14px;
    border: 1px solid #ccc;
    margin-right: 4px;
    margin-top: 10px;
}
@media (max-width: 426px) {
    .container {
    	margin-top:0px !important;
    }
    .container > .row{
    	padding:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }
   .section{
   	width:104%;
   }
    .menu-items{
    	padding-left:0;
    }
}

.add_cart {
    color: #fff;
    background-color: darkmagenta;
    border-color: darkmagenta;
    margin-left: 0px;
    border-radius: 38px;
    width: 50%;
}



.info_color h5 {
    font-size: 18px;
}
</style> -->

<style type="text/css">
	.tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tile {
    position: relative;
    float: left;
    width: 33.333%;
    height: 100%;
    overflow: hidden;
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

  .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
  }

  .x {
    font-size: 32px;
    line-height: 32px;
  }
</style>
<section class="tee_products">
		<div class="container">
			<div class="row">
				<ul class="breadcrumb">
					<li><a href="https://www.teeplusmessage.com/">Home</a></li>
					<li><a href="https://www.teeplusmessage.com/products/get_products">Products</a></li>
					                    <li><a href="https://www.teeplusmessage.com/products/get_products_category/Mug">Mugs</a></li>

				</ul>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12 " id="show_image">
					<!--<div class="cart_img">
																<img src="">
											</div>-->
 																					 <div class="tiles">
						    <div class="tile" data-scale="1.6" id="show-img" data-image="https://d1yg28hrivmbqm.cloudfront.net/files/4e2/4e2f0b84e78ea0aed99184bf2d45161a_preview.png">
						    	<!-- <img src="image/c1.jpg"> -->
						    <div class="photo" style="background-image: url(&quot;https://d1yg28hrivmbqm.cloudfront.net/files/4e2/4e2f0b84e78ea0aed99184bf2d45161a_preview.png&quot;);"></div></div>

						  </div>
					 <!-- <div class="show" href="https://d1yg28hrivmbqm.cloudfront.net/files/4e2/4e2f0b84e78ea0aed99184bf2d45161a_preview.png">
					    <img src="https://d1yg28hrivmbqm.cloudfront.net/files/4e2/4e2f0b84e78ea0aed99184bf2d45161a_preview.png" id="show-img">
					  </div> -->
									  <div class="small-img">
				    <img src="https://www.teeplusmessage.com/assets/images/left-arrow.png" class="icon-left" alt="" id="prev-img">
				    <div class="small-container">

				      <div id="small-img-roll">
				       				        <img src="https://d1yg28hrivmbqm.cloudfront.net/files/d6a/d6a18143a645cb48f3ffdb33d3338ab6_preview.png" class="show-small-img" alt="now" style="border: 1px solid rgb(149, 27, 37); padding: 2px;">
				       				        <img src="https://d1yg28hrivmbqm.cloudfront.net/files/4e2/4e2f0b84e78ea0aed99184bf2d45161a_preview.png" class="show-small-img">
				       				      </div>
				    </div>
				    <img src="https://www.teeplusmessage.com/assets/images/arrowright.png" class="icon-right" alt="" id="next-img">
				  </div>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="cart_info">
						<div class="info_header">
							<h2 style="font-size: 25px">You are my brother from another mother- Mug-Inspiration</h2>
						</div>
						<!-- <div class="info_des">
							<p>All products ship worldwide. Fulfillment location is set based on shipping destination, routing preferences and <a href=""> stock availability.</a></p>
						</div> -->
						<div class="info_size">
							<h5 id="size_label"><b>Choose size</b></h5>
							<ul class="size_chart">
																							    								<li class="attr2 active" size="11oz">11oz</li>
    																						</ul>
						</div>

						<div class="row" style="margin-left: 0px;">
						<div class="info_color">

							<ul class="colors">

							</ul>
						</div>
						</div>
						<!-- strat components -->
						 <!-- Precios -->

                                <h5 class="tee-price"><b>Price</b></h5>
                                <h3 style="margin-top:0px;" id="show_price">$9.95</h3>



                                <div class="section" style="padding-bottom:20px;">
                                    <h5><b>Choose quantity</b></h5>
                                    <div>
                                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                                        <input type="text" disabled="" name="qty" id="qty" value="1">
                                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                                    </div>
                                </div>
                                	<input type="hidden" id="product_id" value="103748640">
                                	<input type="hidden" id="price" value="9.95">
									<input type="hidden" id="id" value="5c7d2f3e48e972">
									<input type="hidden" id="image" value="https://d1yg28hrivmbqm.cloudfront.net/files/4e2/4e2f0b84e78ea0aed99184bf2d45161a_preview.png">
                                    <input type="hidden" id="name" value="You are my brother from another mother- Mug-Inspiration">
                                    <input type="hidden" id="userid" value="">
                                  <!--   <button class=" add_cart" type="submit" >Add to cart<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </button> -->
                                  <button class="add-cart add_cart" type="submit" url="https://www.teeplusmessage.com/cart/add_cart_without_login"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Add to cart</button>
                                  	                                  <span><button type="submit" mehar="" [6:04="" pm]="" class="check add-wish">Checkout</button></span>
                                  <span><button type="submit" class=" wishlist add-wish">Wishlist</button></span>

                            </div>
					</div>
				</div>
			</div>
		</section></div>

























	<section class="tee_description">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="tab products-des" role="tabpanel">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
							<!-- <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Guidelines</a></li> -->
							<!-- <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">label</a></li> -->
						</ul>
						<!-- Tab panes -->
						<div class="tab-content tabs">

							<div role="tabpanel" class="tab-pane fade in active" id="Section1">
								<div class="info1">
									<h4>Product Info</h4>
									<p>Whether you're drinking your morning coffee, evening tea, or something in between – this mug's for you! It's sturdy and glossy with a vivid print that'll withstand the microwave and dishwasher.

                                    </p>
								</div>
								<div class="info2">
									<h4>Steps of the product</h4>
									<ul>
										<li>Ceramic

                                       </li>
										<li>Dishwasher and microwave safe</li>
										<li>White and glossy</li>


									</ul>
								</div>

							</div>


							<div role="tabpanel" class="tab-pane fade" id="Section3">
								<!-- <h3>Section 3</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada lorem. Nullam faucibus lorem at eros consectetur lobortis. Maecenas nec nibh congue, placerat sem id, rutrum velit. Phasellus porta enim at facilisis condimentum. Maecenas pharetra dolor vel elit tempor pellentesque sed sed eros. Aenean vitae mauris tincidunt, imperdiet orci semper, rhoncus ligula. Vivamus scelerisque.</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>










<!-- <script type="text/javascript">
   $(".btn-plus").click(function(){
    if(clicked){
        $(this).css('background-color', 'red');
        clicked  = false;
    } else {
        $(this).css('background-color', 'blue');
        clicked  = true;
    }
});
</script> -->


        <!-- Footer -->
        <section class="newsletter">
  <div class="container">
    <h3 class="sign_tee"><b>SIGN UP TO OUR NEWSLETTER</b></h3>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 news">

      <div class="news_letter">
        <input type="text" class="newtext" id="emali12" name="email" placeholder="Enter your email address here">
        <span class="tee_for">
        <button id="women" class=" newsfeed women bt_tee" title="WOMEN">For Women</button>
        </span> <span>
        <button id="men" class=" newsfeed men bt_tee" title="MEN">For Men</button>
        </span> </div></div>
      <div class="col-md-12">
        <p class="newpara news_tee">I would like to receive the regular Teeplus newsletter about garments, photo gifts and customization. You can unsubscribe at any time by clicking on the unsubscribe link of any newsletter or by sending an e-mail to service teeplusmessage@.com Further information can be found under point 5 of the Privacy Policy. Our services are directed at persons aged 18 or over. By continuing to use our service, you confirm that you are 18 years of age or over ** with orders of a minimum value of 30 . It is not applicable to shipping and image processing costs, as well as already reduced products.</p>
      </div>
    </div>
  </div>
</section>
<div class="container" id="tee_newsletter">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="row">
        <div class="service-providers">
          <div class="col-md-12 col-sm-12 col-xs-6 col-xs-12  service1">
            <div class="shippingIcons"> <a href="https://www.teeplusmessage.com/"> <img class="serve_img" src="https://www.teeplusmessage.com/assets/images/Teeplusmessage-new (3) logo.png" width="100%" alt="cool tshirt designs"> </a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-3 col-xs-12">
      <div class="col-md-5 col-sm-6 col-xs-6 service2">
        <h2 class="tee_sub"><b>Our payment providers</b></h2>
        <div class="footer_card"> <img class="serve_img" src="https://www.teeplusmessage.com/assets/images/icon_preview_001- (1).png" style="width:50px" alt="PayPal"> <img class="serve_img" src="https://www.teeplusmessage.com/assets/images/icon_paypal_fr_be_uk_no-bg.png" style="width:50px" alt="PayPal"> <img class="serve_img" src="https://www.teeplusmessage.com/assets/images/New Project (4).png" style="width:50px" alt="PayPal"> <img class="serve_img" src="https://www.teeplusmessage.com/assets/images/icon_creditcard_no-bg_2.png" style="width:50px" alt="Credit Card"></div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6  service3">
        <h2 class="tee_sub"><b>Service and Help</b></h2>
        <ul class="ftr-mnu">
          <li class="ftr-mnu-li"> <a href="https://www.teeplusmessage.com/aboutus" title="About Us">About Us</a> </li>
          <li class="ftr-mnu-li"> <a href="https://www.teeplusmessage.com/contact_us" title="Contact Us">Contact Us</a> </li>
          <li class="ftr-mnu-li"> <a href="https://www.instagram.com/tee_plus_message1/"><img src="https://www.teeplusmessage.com/assets/images/instagram-logo.png" alt="instagram icon"></a> </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid " id="ftr-cprts">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="include"></p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p class="rights">Copyright © 2019 ,<a href="home"> <b> TeeplusMessage</b></a>. All rights reserved. Powered by <a href="https://www.amazing7.com/" target="_blank"><b>Amazing7studios</b></a> </p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12"> </div>
</div>
<!-- Default Statcounter code for Tee Plus Message  -->
<script type="text/javascript">
var sc_project=12030153;
var sc_invisible=0;
var sc_security="393527b4";
var sc_https=1;
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script><script type="text/javascript" src="https://statcounter.com/counter/counter.js"></script><span class="statcounter"><a class="statcounter" href="http://www.statcounter.com" target="_blank"><img src="https://c.statcounter.com/t.php?sc_project=12030153&amp;java=1&amp;security=393527b4&amp;u1=89EC27F260FC4FF3DAB8AAF52FF974D9&amp;sc_random=0.05807997459234415&amp;jg=7&amp;rr=8.8.6.6.4.4.4.4.2&amp;resolution=1366&amp;h=768&amp;camefrom=https%3A//www.teeplusmessage.com/products/get_products_category/Mug&amp;u=https%3A//www.teeplusmessage.com/pro_desc/103748640&amp;t=products%20description-TeePlus&amp;rcat=r&amp;rdomo=127.0.0.1:8000&amp;rdomg=7&amp;sc_snum=1&amp;sess=cfa820&amp;p=0" alt="StatCounter - Free Web Tracker and Counter" border="0"></a></span>

<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12030153/0/393527b4/0/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
<script type="text/javascript">
    function validateEmail(email){
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test(email.value) == false)
        {
            alert('Invalid Email Address');
            return false;
        }

        return true;

}

</script>

<style>

/*Globle CSS AK*/

.breadcrumb li a {font-size: 15px; }
.breadcrumb {    padding: 2px 15px;}
.second-level-menu > li, .third-level-menu > li { background: #dfdfdf;}
.second-level-menu{width:max-content;}
.second-level-menu li a{padding-right:10px;}
section.sticky2 {    position: fixed;    width: 100%;    z-index: 9999;    top: 0;}
ul.ftr-mnu { display: block; text-align: center;  margin-top: 10px; }
ul.ftr-mnu li {    display: inline-block;    border-right: 1px solid #666;    padding: 0px 10px;}
.top-margin{    margin-top: 30px;}
ul.ftr-mnu li:last-child {    border: 0px;}
div#tee_newsletter {    padding: 15px 0px;    margin-top: 0px;}
.footer_card {    padding-top: 10px;}
p.newpara{padding-bottom:0px; text-align: center;}
.newsletter h3{margin-top:0px;}
.news_letter {    text-align: center;}
section.newsletter{padding: 30px 0px;}
.news_letter input.newtext {    margin-top: 15px;}
div#ftr-cprts {padding: 10px 0px;  }
.akshy_about {padding: 10px 0px; line-height: inherit;    word-spacing: initial;    font-size: 16px;}
.category{ margin-left:0px;}
.custom_pagination {
    text-align: center;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{    border-radius: 0px !important;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {background-color: #9bd044 !important;    border-color: #9bd044 !important;}
.pagination>li>a, .pagination>li>span {border: 1px solid #9bd044 !important;     color: #9bd044;    font-weight: 600;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {color: #fff !important;    background-color: #9bd044 !important;    border-color: #9bd044 !important;}
.contact_page {
    box-shadow: 0px 18px 50px -25px #0000005c;
}

.contact-form {
    padding: 50px;
    border-left: 2px solid #ddd;
}

.address {

    font-weight: 600;
    padding: 50% 15px 50px 50px;
    text-align: center;
}

.address h2 {
    font-size: 24px;
    padding-bottom: 20px;
}

.contact-form h2 {
    font-size: 24px;
}

.address p i {
    margin-right: 10px;
}

section.contact.section-padding {
    padding: 75px 0px;
}

.akshy_about {line-height: 35px;}

section.check_out_page {
    padding: 75px 0px;
}

.check_form, .cart_form {
    box-shadow: 0px 18px 50px -25px #0000005c;
    padding: 30px;
}

section.cart-page {
    padding: 75px 0px;
	    min-height: 630px;
}

.cart_form ul.breadcrumb{margin:0px;}

ul.breadcrumb.comb li a:after{content:none;}

@media (min-width: 320px) and (max-width: 767px){

section.sticky2 {    position: relative;    width: 100%;    z-index: 9999;    top: auto;}



}



    ul.ftr-mnu li img {

}



</style>

       <div id="ajaxProcess_waitIcon"><img src="images/ajax-loader.gif" alt="please wait loading ..."></div>
		<div id="ADD_TO_BASKET_INFOBOX" style="display:none;"></div>
		<div id="POPUP_TEXTBOX" style="display:none"></div>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>var base_url = "https://www.teeplusmessage.com/"; </script>
  <!-- javascript -->
  <script src="https://www.teeplusmessage.com/assets/js/custom.js"></script>
  <script src="https://www.teeplusmessage.com/assets/js/cart.js"></script>
  <script src="https://www.teeplusmessage.com/assets/js/product_description.js"></script>

   <script src="https://www.teeplusmessage.com/assets/js/zoom-image.js"></script>
  <script src="https://www.teeplusmessage.com/assets/js/main.js"></script>

<!-- products carousel -->
<script src="https://www.teeplusmessage.com/assets/js/owl.carousel.js"></script>
  <script src="https://www.teeplusmessage.com/assets/js/owl.carousel.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-142222669-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142222669-1');
</script>

 <script type="text/javascript">
   $(document).ready (function(){
       $(window).on('load',function(){
           $('#myModal').modal('show');
       });
   });
 </script>

 <script type="text/javascript">
   $(document).ready (function(){
       $(window).on('load',function(){
           $('#myModal2').modal('show');
       });
   });
 </script>

<script type="text/javascript">
  $(document).on('click','#remove_wishlist',function(){

      var product_id = $(this).data("wishlistid");

      $.ajax({

        url : base_url+"cart/wishlist_delete",

        method : "POST",
        data : {product_id : product_id ,},
        success :function(data){
          $("#snoAlertBox").fadeIn();
          window.setTimeout(function () {
         $("#snoAlertBox").fadeOut(300)
           }, 1000);
         //alert("delletd successfully");

         window.location.href = base_url+"wishlist";

        }
      });
    });

</script>


 <script type="text/javascript">
  $(document).on('click','#women',function(){
       var subsr_women = $(this).text();
       var email = $("#emali12").val();
       // alert(email);
     if(email==""){
      alert("please enter your email id");
     }else{

      $.ajax({
        url : base_url+"auth/womensubscribe",
        method : "POST",
        data : {email : email,subsr_women : subsr_women},
        success :function(data){
          alert("subscribed successfully");

          //$('.tbl1').html(data);
        }
      });
    }
    });

</script>

 <script type="text/javascript">
  $(document).on('click','#men',function(){
       var subsr_men = $(this).text();
       var email = $("#emali12").val();
       // alert(email);
     if(email==""){
      alert("please enter your email id");
     }else{

      $.ajax({
        url : base_url+"auth/mensubscribe",
        method : "POST",
        data : {email : email,subsr_men : subsr_men},
        success :function(data){
          alert("subscribed successfully");

          //$('.tbl1').html(data);
        }
      });
    }
    });

</script>

 <script type="text/javascript">
  $(document).on('click','.remove_cart',function(){

      var row_id=$(this).attr("id");
      $.ajax({
        url : base_url+"cart/delete_cart",
        method : "POST",
        data : {row_id : row_id,},
        success :function(data){
          alert("removed item successfully");
        window.location.href = base_url+"cart";

          //$('.tbl1').html(data);
        }
      });
    });

</script>

<script type="text/javascript">
  $(document).on('click','.update_cart',function(){

      var row_id=$(this).attr("id");
      var num=$(this).attr("num");
      var  qty = $("#qty"+num).val();

      $.ajax({
        url : base_url+"cart/update_cart",
        method : "POST",
        data : {row_id : row_id, quantity: qty},
        success :function(data){
          alert("value updated successfully");
           window.location.href = base_url+"cart";

          //$('.tbl1').html(data);
        }
      });
    });

</script>


<script type="text/javascript">
  $(document).on('click','.update_cart_login',function(){

      var id=$(this).attr("id");
      var num=$(this).attr("num");
      var  qty = $("#qty"+num).val();

      $.ajax({
        url : base_url+"cart/update_cart_login",
        method : "POST",
        data : {id : id, quantity: qty},
        success :function(data){
          alert("value updated successfully");
          location.reload();
           //window.location.href = base_url+"cart";

          //$('.tbl1').html(data);
        }
      });
    });

</script>

<script type="text/javascript">
  $(document).on('click','.remove_cart_login',function(){

      var id=$(this).attr("id");
      $.ajax({
        url : base_url+"cart/delete_cart_login",
        method : "POST",
        data : {id : id,},
        success :function(data){
          alert("removed item successfully");
         location.reload();
        //window.location.href = base_url+"cart";

          //$('.tbl1').html(data);
        }
      });
    });

</script>


</body>
</html>